# ITMGT 25.03 EE
# Assignment 3A

This is a data-cleaning assignment and is the first of two parts. The second part (3B) will be given Monday or Tuesday next week. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.


The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called cleanrecweekdata.csv **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats.html**. The requirements for the summary statistics are described below. **(10 points)**

This entire assignment (3A) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Tuesday, July 9, 2019** at 12:00NN.

In [45]:
# cleanrecweekdata.csv
import csv
import re

with open('recweekdata.csv','r') as dirty:
    dirty_reader = csv.reader(dirty, delimiter = ',')
    
    # creating dirty and already clean lists
    clean_firstname = []
    clean_lastname = []
    dirty_birthmonth = []
    clean_birthday = []
    dirty_birthyear = []
    dirty_course = []
    dirty_phonenumber = []
    line_count = 0
    for row in dirty_reader:
        if line_count == 0:
            pass
        else:
            clean_firstname.append(row[0])
            clean_lastname.append(row[1])
            dirty_birthmonth.append(row[2])
            clean_birthday.append(row[3])
            dirty_birthyear.append(row[4])
            dirty_course.append(row[5])
            dirty_phonenumber.append(row[6])
        line_count += 1

    # cleaning birthmonth
    unique_birthmonth_dict = {'1':'January','2':'February','3':'March','4':'April','5':'May','6':'June','7':'July',
                             '8':'August','9':'September','10':'October','11':'November','12':'December','January':'January',
                              'February':'February','March':'March','April':'April','May':'May','June':'June','July':'July',
                             'August':'August','September':'September','October':'October','November':'November',
                              'December':'December','Jan':'January','Feb':'February','Mar':'March','Apr':'April',
                              'May':'May','Jun':'June','Jul':'July','Aug':'August','Sep':'September',
                              'Oct':'October','Nov':'November','Dec':'December'}
    clean_birthmonth = [re.sub(r''.join(month),r''.join(unique_birthmonth_dict[month]),month) for month in dirty_birthmonth]
    
    # cleaning birthyear
    unique_birthyear_dict = {'97':'1997','98':'1998','99':'1999','00':'2000','01':'2001','1997':'1997','1998':'1998',
                             '1999':'1999','2000':'2000','2001':'2001'}
    clean_birthyear = [re.sub(r''.join(year),r''.join(unique_birthyear_dict[year]),year) for year in dirty_birthyear]
    
    # cleaning course
    # did this first:
    # unique_course_dict = {course:None for course in set(dirty_course)}
    # for course in unique_course_dict:
        # final_course = input(course + ": " + "Enter course: ")
        # unique_course_dict[course] = final_course
    # then copied the output here:
    unique_course_dict = {'ME': 'BS Management Engineering','BS LM': 'BS Legal Management','MGT': 'BS Management',
                         'Communications Technology': 'BS Communications Technology Management','BS MGT': 'BS Management',
                         'Information Technology Entrepreneurship': 'BS Information Technology Entrepreneurship',
                         'BS CTM': 'BS Communications Technology Management','ITE': 'BS Information Technology Entrepreneurship',
                         'BS ITE': 'BS Information Technology Entrepreneurship','Management': 'BS Management',
                         'CTM': 'BS Communications Technology Management','LM': 'BS Legal Management','Legal Management': 'BS Legal Management',
                         'BS ME': 'BS Management Engineering','Management Engineering': 'BS Management Engineering'}
    clean_course = [re.sub(r''.join(course),r''.join(unique_course_dict[course]),course) for course in dirty_course]
    
    # cleaning phonenumber
    slightly_clean_phonenumber = [re.sub(r'^(9[0-9][0-9])',r'+63 \1',number) for number in dirty_phonenumber]
    clean_phonenumber = []
    for number in slightly_clean_phonenumber:
        clean_phonenumber.append(number.replace(" ",""))
        
    # combining cleaned lists
    clean_lists = list(zip(clean_firstname,clean_lastname,clean_birthmonth,clean_birthday,clean_birthyear,clean_course,clean_phonenumber))

# creating clean csv
with open('cleanrecweekdata.csv','w') as clean:
    clean_writer = csv.writer(clean,lineterminator='\n')
    clean.write('firstname,lastname,birthmonth,birthday,birthyear,course,phonenumber\n')
    clean_writer.writerows(clean_lists)

# Required Summary Statistics
1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

Answer these questions in an html file called stats.html. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):

```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
         </table>
    </body>
</html>
```

In [46]:
# creating summaries
january_summary = clean_birthmonth.count('January')
february_summary = clean_birthmonth.count('February')
march_summary = clean_birthmonth.count('March')
april_summary = clean_birthmonth.count('April')
may_summary = clean_birthmonth.count('May')
june_summary = clean_birthmonth.count('June')
july_summary = clean_birthmonth.count('July')
august_summary = clean_birthmonth.count('August')
september_summary = clean_birthmonth.count('September')
october_summary = clean_birthmonth.count('October')
november_summary = clean_birthmonth.count('November')
december_summary = clean_birthmonth.count('December')

one_summary = clean_birthday.count('1')
two_summary = clean_birthday.count('2')
three_summary = clean_birthday.count('3')
four_summary = clean_birthday.count('4')
five_summary = clean_birthday.count('5')
six_summary = clean_birthday.count('6')
seven_summary = clean_birthday.count('7')
eight_summary = clean_birthday.count('8')
nine_summary = clean_birthday.count('9')
ten_summary = clean_birthday.count('10')
eleven_summary = clean_birthday.count('11')
twelve_summary = clean_birthday.count('12')
thirteen_summary = clean_birthday.count('13')
fourteen_summary = clean_birthday.count('14')
fifteen_summary = clean_birthday.count('15')
sixteen_summary = clean_birthday.count('16')
seventeen_summary = clean_birthday.count('17')
eighteen_summary = clean_birthday.count('18')
nineteen_summary = clean_birthday.count('19')
twenty_summary = clean_birthday.count('20')
twentyone_summary = clean_birthday.count('21')
twentytwo_summary = clean_birthday.count('22')
twentythree_summary = clean_birthday.count('23')
twentyfour_summary = clean_birthday.count('24')
twentyfive_summary = clean_birthday.count('25')
twentysix_summary = clean_birthday.count('26')
twentyseven_summary = clean_birthday.count('27')
twentyeight_summary = clean_birthday.count('28')

ninetyseven_summary = clean_birthyear.count('1997')
ninetyeight_summary = clean_birthyear.count('1998')
ninetynine_summary = clean_birthyear.count('1999')
oo_summary = clean_birthyear.count('2000')
oone_summary = clean_birthyear.count('2001')

comtech_summary = clean_course.count('BS Communications Technology Management')
ite_summary = clean_course.count('BS Information Technology Entrepreneurship')
lm_summary = clean_course.count('BS Legal Management')
mgt_summary = clean_course.count('BS Management')
me_summary = clean_course.count('BS Management Engineering')

globe_summary = 0
smart_summary = 0

for number in clean_phonenumber:
    if '+63917' in number:
        globe_summary += 1
    elif '+63927' in number:
        globe_summary += 1
    else:
        smart_summary += 1

# stats.html
from IPython.core.display import HTML

html = """
<html>
    <head>
        <title>Querido_Assignment_3A</title>
    </head>
    <body>
        <h2>Summary Statistics</h2>
        <table>
            <thead>
                <tr><th>Stat</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>People born in each month</td>
                    <td>
                        <table>
                            <tr>
                                <th>January</th><th>February</th><th>March</th><th>April</th><th>May</th><th>June</th><th>July</th><th>August</th><th>September</th><th>October</th><th>November</th><th>December</th>
                            </tr>
                            <tr>
                                <td>{january_summary}</td><td>{february_summary}</td><td>{march_summary}</td><td>{april_summary}</td><td>{may_summary}</td><td>{june_summary}</td><td>{july_summary}</td><td>{august_summary}</td><td>{september_summary}</td><td>{october_summary}</td><td>{november_summary}</td><td>{december_summary}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>People born on each day</td>
                    <td>
                        <table>
                            <tr>
                                <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th><th>28</th>
                            </tr>
                            <tr>
                                <td>{one_summary}</td><td>{two_summary}</td><td>{three_summary}</td><td>{four_summary}</td><td>{five_summary}</td><td>{six_summary}</td><td>{seven_summary}</td><td>{eight_summary}</td><td>{nine_summary}</td><td>{ten_summary}</td><td>{eleven_summary}</td><td>{twelve_summary}</td><td>{thirteen_summary}</td><td>{fourteen_summary}</td><td>{fifteen_summary}</td><td>{sixteen_summary}</td><td>{seventeen_summary}</td><td>{eighteen_summary}</td><td>{nineteen_summary}</td><td>{twenty_summary}</td><td>{twentyone_summary}</td><td>{twentytwo_summary}</td><td>{twentythree_summary}</td><td>{twentyfour_summary}</td><td>{twentyfive_summary}</td><td>{twentysix_summary}</td><td>{twentyseven_summary}</td><td>{twentyeight_summary}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>People born in each year</td>
                    <td>
                        <table>
                            <tr>
                                <th>1997</th><th>1998</th><th>1999</th><th>2000</th><th>2001</th>
                            <tr>
                                <td>{ninetyseven_summary}</td><td>{ninetyeight_summary}</td><td>{ninetynine_summary}</td><td>{oo_summary}</td><td>{oone_summary}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>People coming from each course</td>
                    <td>
                        <table>
                            <tr>
                                <th>BS Communications Technology Management</th><th>BS Information Technology Entrepreneurship</th><th>BS Legal Management</th><th>BS Management</th><th>BS Management Engineering</th>
                            <tr>
                                <td>{comtech_summary}</td><td>{ite_summary}</td><td>{lm_summary}</td><td>{mgt_summary}</td><td>{me_summary}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>People having numbers from Globe and Smart</td>
                    <td>
                        <table>
                            <tr>
                                <th>Globe Users</th><th>Smart Users</th>
                            <tr>
                                <td>{globe_summary}</td><td>{smart_summary}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
"""
html_output = html.format(january_summary=january_summary,february_summary=february_summary,march_summary=march_summary,april_summary=april_summary,may_summary=may_summary,june_summary=june_summary,july_summary=july_summary,august_summary=august_summary,september_summary=september_summary,october_summary=october_summary,november_summary=november_summary,december_summary=december_summary,
                         one_summary=one_summary,two_summary=two_summary,three_summary=three_summary,four_summary=four_summary,five_summary=five_summary,six_summary=six_summary,seven_summary=seven_summary,eight_summary=eight_summary,nine_summary=nine_summary,ten_summary=ten_summary,eleven_summary=eleven_summary,twelve_summary=twelve_summary,thirteen_summary=thirteen_summary,fourteen_summary=fourteen_summary,fifteen_summary=fifteen_summary,sixteen_summary=sixteen_summary,seventeen_summary=seventeen_summary,eighteen_summary=eighteen_summary,nineteen_summary=nineteen_summary,twenty_summary=twenty_summary,twentyone_summary=twentyone_summary,twentytwo_summary=twentytwo_summary,twentythree_summary=twentythree_summary,twentyfour_summary=twentyfour_summary,twentyfive_summary=twentyfive_summary,twentysix_summary=twentysix_summary,twentyseven_summary=twentyseven_summary,twentyeight_summary=twentyeight_summary,
                         ninetyseven_summary=ninetyseven_summary,ninetyeight_summary=ninetyeight_summary,ninetynine_summary=ninetynine_summary,oo_summary=oo_summary,oone_summary=oone_summary,
                         comtech_summary=comtech_summary,ite_summary=ite_summary,lm_summary=lm_summary,mgt_summary=mgt_summary,me_summary=me_summary,
                         globe_summary=globe_summary,smart_summary=smart_summary)
HTML(html_output)